{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Showcase : Organise and manage your construction and landscaping portfolio </p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1646082553/showcase/310-1-3D_View_1_ersrii.jpg">
    </p>
  </div>
  <div class="content">
    <p class="subtitle">Overview</p>
    <p>Showcase is a web app that allows vendors in the construction and landscaping industy to <i>showcase</i> their work.</p> <br>
    <p class="subtitle">User Sign Up and Login</p>
    <p>Initially, users will sign up for the first time, where they can enter their name, email address, and secure password.</p> 
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648081867/showcase/showcasesignup_tfga00.png">
    </p>
    <p>Once returned to the main page, they can then log in to their profile.</p> <br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648081914/showcase/showcaselogin_fjkn6y.png">
    </p>
    <p class="subtitle">Portfolio Creation</p>
    <p>Once logged in, users can create themed Portfolios based on different categories, including:</p>
    <ul>
      <li>Extensions</li>
      <li>Renovations</li>
      <li>New Builds</li>
      <li>Landscaping</li>
      <li>Commercial</li>
    </ul><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648081594/showcase/showcaseportfoliodetails_zliknp.png">
    </p>
    <p class="subtitle">Project Creation</p>
    <p>Once a Portfolio has been created, users are then able to add Projects to that Porfolio. Initial details collected for each Project include:</p>
    <ul>
      <li>The Project title</li>
      <li>The Project style (e.g. modern, traditional, open-plan, etc)</li>
      <li>The Project location (latitude and longitude co-ordinanates)</li>
      <li>The Project size (area in sq. meters)</li>
      <li>The Project cost</li>
      <li>A detailed Project description</li>
    </ul>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648078285/showcase/showcasemap_butmcb.png">
    </p>
    <p>When a Project is added to a Portfolio, the location of the Project is displayed as a marker on a map, to demonstrate where a user's work is concentrated.</p> <br>
    <p>Projects within a Portfolio are listed with brief details, however clicking into individual Projects allows display of detailed information, including a display of images related to the Project.</p> 
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648082327/showcase/showcaseprojectdetails3_uqhxsf.png">
    </p>
    <p>Here, Project details can also be edited and updated, including images.</p>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648081222/showcase/showcaseprojectdetails2_ldadql.png">
    </p>
    <p class="subtitle">Admin Dashboard</p>
    <p>In addition to a standard user login, an admin login has been provided with a predefined email and password (admin@email.ie, password) for authentication. Within the admin dashboard, general app analytics are provided, including:</p>
    <ul>
      <li>Total number of users</li>
      <li>Total number of portfolios</li>
      <li>Total number of projects</li>
      <li>The maximum number of portfolios for any one user</li>
      <li>The user with the most portfolios (email address)</li>
      <li>The maximum number of projects for any one user</li>
      <li>The user with the most projects (email address)</li>
      <li>The most expensive project (€)</li>
      <li>The user with the most expensive project</li>
      <li>The largest area project (sq. meters)</li>
      <li>The user with the largest project</li>
    </ul><br>
    <p class="box">
      <img src="https://res.cloudinary.com/whodunya/image/upload/v1648312077/showcase/showcaseadmin2_eusqbr.png">
    </p>
    <p>Below the analytics, statistics on individual users can also be retrieved by entering the user email, including:</p>
    <ul>
      <li>Total number of portfolios for the user</li>
      <li>Total number of projects for the user</li>
    </ul> <br>
    <p>Finally, the admin dashboard lists all users for the app, including their assigned ID, in order of their sign up (first sign up first). Here, users can be deleted from the app permanently.</p><br>
  </div>
</section>