{{> menu-client active="notices"}}

<section class="section">
  <div class="title">
    Add New Notice
  </div>
  {{> add-notice}}
  </section>
  <section class="section">
  <div class="title">
    My Notices
  </div>
  {{> list-client-notices}}
</section>
