{{> menu active="dashboard"}}

<section class="section">
    <img src="/images/310-1-3D_View_2.jpg">
  </section>
<div class="title">
    List of My Portfolios
  </div>
<section class="section">
  {{> list-portfolios}}
  {{> add-portfolio}}
</section>