<form class="box" action="/addnotice" method="POST">
  <label class="label">Enter New Notice Details:</label>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Notice Title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Notice Title" name="noticeTitle">
      </div>
      <div class="field-label is-normal">
      <label class="label">Category</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select is-rounded">
        <select class="is-hovered" name="noticeCategory">
          <option value="Extensions">Extensions</option>
          <option value="New Builds">New Builds</option>
          <option value="Renovations">Renovations</option>
          <option value="Landscaping">Landscaping</option>
          <option value="Commercial">Commercial</option>
        </select>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Latitude</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="noticeLatitude">
      </div>
      <div class="field-label is-normal">
        <label class="label">Longitude</label>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="noticeLongitude">
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Style of Design</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Style (e.g. Modern)" name="noticeStyle">
      </div>
      <div class="field-label is-normal">
        <label class="label">Vendor Category</label>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Vendor Category (e.g. Architects)" name="vendorCategory">
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Description of Request</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description of Your Request" name="request">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Notice</button>
</form>