<div class="box box-link-hover-shadow">
<form action="/vendornotice/{{notice._id}}/adddiscussion" method="POST">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">New Discussion</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter discussion title" name="discussionTitle">
      </div>
    </div>
  </div>
  <button class="button is-link">Create Discussion</button>
</form>
</div>