<div class="box box-link-hover-shadow">
<form action="/clientdiscussion/{{discussion._id}}/addanswer" method="POST">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">New Response</label>
    </div>
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter response" name="answerContent">
      </div>
    </div>
  </div>
  <button class="button is-link">Post Response</button>
</form>
</div>